@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@theme {
    --font-sans: var(--font-outfit);
}

@keyframes pulse-slow {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.95;
        transform: scale(1.01);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
}

.animate-pulse-slow {
    animation: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}